.main-bottomnav-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: space-between;
}
.component {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  padding: 2rem;
  flex:1;
  height: 93%;
  background-color: rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
}
.dash-bg {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1515003197210-e0cd71810b5f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGZvb2R8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=60");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}