.container {
  max-width: 25rem;
  height: 25rem;
  text-align: center;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: #f8f0df;
  box-shadow: 5px 5px 10px 2px #11203188;
  font-family: karla;
  margin: 0.8rem 1rem;
  overflow-y: scroll;
  scrollbar-width: none;
}
.title {
  font-size: 1.5rem;
}
.img {
  width: 100%;
}
.recipeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 93%;
  overflow-y: scroll;
  scrollbar-width: none;
  justify-content: space-around;
  border-radius: 0.3rem;
  border-top-right-radius: 1rem;
  box-shadow: 5px 5px 5px 5px #504b4b70;
}
.recipeText {
  font-size: 1rem;
}
.recipeHeading {
  font-size: 2.5rem;
}
@media screen and (max-width: 768px) {
  .recipeHeading {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 300px) {
  .recipeContainer {
    height: 85%;
  }
}
